.body {
  margin: 0px;
}

.menu {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  height: 80px;
}

.big {
  display: flex;
  font-size: 19px;
}

.p {
  margin-right: 20px;
  cursor: pointer;
  color: aliceblue;
  font-family: "Domine";
}

.number {
  font-size: 23px;
  color: aliceblue;
}

.p:hover {
  font-size: 30px;
  color: #bf0d0d;
}

.number:hover {
  color: #bf0d0d;
}

.h {
  position: absolute;
  right: 35%;
  top: 50%;
  position: fixed;
}

.v {
  width: 355px;
  color: black;
  text-align: center;
  font-size: 50px;
  border-top: 5px solid black;
  font-family: "Domine";
}
.z {
  width: 355px;
  color: black;
  text-align: center;
  font-size: 70px;
  font-family: "Domine";
}
